/* .event-image {
  object-fit: cover;
  height: 200px;
}

.event-container {
  max-width: 1200px;
}

.event-grid {
  display: flex;
  flex-wrap: wrap;
} */

/* Event-list */
.event-image {
  object-fit: cover;
  height: 100%;
}

.event-list-item {
  display: flex;
  align-items: center;
  padding: 15px;
}

.event-container {
  max-width: 1200px;
}
